/*Reset User Agent Style*/
 p, pre, ul, ol{
	margin: 0;
}

/*Copied from Bootstrap*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;/*1.42857143*/;
  color: #333;
  background-color: #fff;
}

/*Basic Style*/
div.contentDiv{
	/*border: solid 2px;*/
	max-width: 1024px;
	overflow-y:hidden;
}

.contentDiv ul,.contentDiv ol{
	list-style-position: inside;
	padding-left: 15px;
	padding-right: 15px;
	width:98%;
	border-radius:10px;

}

.L_1 { font-size:200%;	font-weight:500;}

.L_2 { font-size:85%;	/*font-weight:400;*/}

.L_3 { font-size:85%;	font-weight:400;}

.L_4 { font-size:90%;	font-weight:400;}

.L_5 { font-size:90%;	font-weight:300;}


/*1. Expand & Shrink*/
.contentDiv li >div
{

	padding-left : 5px;
	padding-right: 5px;

	margin-bottom: 7px;/*5*/
	border-radius:10px;

	height: 1em;
	transition: height 1s, opacity 1s;

	white-space:nowrap;
	overflow:hidden; /*!! */
	text-overflow:ellipsis;

}
.contentDiv li >div.highlight
{
	/*opacity: 0.5;*/
	/*background:#f0ad4e;*/
	white-space:normal;
	/*overflow:hidden;*/
	/*text-overflow:ellipsis;*/
	
}


.contentDiv li >div >* {

	white-space:inherit;
	overflow:inherit;
	text-overflow:inherit;

	padding-top: 6px;/*5*/
	padding-bottom: 11px;/*5*/

}

.contentDiv .L_4 >li >div >*{
	padding-top: 0px;
	padding-bottom: 0px;
}

/*2. Show & Hide : Default*/


/*3. HL Posiition*/
/* v3 Static Highilght Background*/
.hlBackground {
	background:#5bc0de;
	border-radius:5px;
	
	position:fixed;

	transition: height 1s, left 1s, width 1s;
	z-index: -1;
}


/*4. background & border*/
/*li>ol, li>ul {
	border: 10px solid transparent;
	transition: border-width 1s;
}*/


/*5. Opacity*/
.contentDiv li>ul >li>div, .contentDiv li>ol >li>div{
	opacity:0.5;
}
.contentDiv li>ul >li>div.highlight, .contentDiv li>ol >li>div.highlight{
	opacity:1;
}
.contentDiv .highlight+ol >li>div, .contentDiv .highlight+ul >li>div{
	opacity:1;
}

.contentDiv li > .HLSameLevel >*{
	background: rgba(247,247,249,0.2);/*#f7f7f9;*/
}

.contentDiv li > ol.HLChildLevel, .contentDiv li > ul.HLChildLevel{
	/*border-color: #e1e1e8;*/
	background: rgb(247,247,249);
}

/*.HLChildLevel >li >div{
	opacity: 0.75;
}*/

.relateDiv img{
	width: 50vh;
}
/*Styles for div.relateDiv*/
.relateDiv{
	display:none;
	max-width:50vh;
	position:absolute;

	/*Similar to popover*/
	margin-left: 15px;
 	margin-right: 15px;
	
/*	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;*/
	/*max-width: 276px;*/
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 125%;/*font-size: 14px;*/
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.relateDiv >*{
  padding: 9px 14px;
  background:rgba(247,247,249,0.2);/**/
}

.relateDiv >ul{
	list-style-type: none;
}
.relateDiv >ul>li:not(.hlSupport){
	display: none;
}



